body{
    background-color: navy;
}




.h1{
    text-align: center;
    color: white;
    padding: 10px;
    
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 7px;
}


h4{
    color: whitesmoke;
    background-color: teal;
    text-align: center;
    padding: 10px;
}

.row1{
    color: aliceblue;
    background-color:gray;
}