body{
    background-color: burlywood;
}




.h1{
    text-align: center;
    color: black;
    
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

h2{
    text-align: center;
    background-color: black;
    text-decoration-color: aliceblue;
}